

node_modules
client/node_modules
dist
dist-ssr
*.local
client/
# ignore node_modules in all subdirectories
**/node_modules
node_modules/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
